body {
    background-color: rgb(64, 64, 129);
    font-family: "monaco", monospace;
}
h1 {
    color: rgb(77, 66, 36);
    text-align: center;
    background-color: rgb(177, 177, 216);
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
#NavTable {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(131, 145, 170);
}
.MainNav {
    border-color: rgb(129, 100, 100);
    text-align: center;
}
#Contact {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(185, 147, 111, 0.603);
}
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}