body {
    background-color: rgb(64, 64, 129);
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
    background-size: 1600px;
    background-repeat: no-repeat;
    background-position: top;
    font-family: "monaco", monospace;
}
h1 {
    color: rgb(77, 66, 36);
    text-align: center;
    background-color: rgb(148, 179, 236);
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
table {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(177, 177, 216);
}
.MainNav {
    border-color: rgb(129, 100, 100);
    text-align: center;
}